{% extends 'index.html' %}

{% block title %}Register{% endblock %}

{% block body_block %}

<br>

<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">

    <div id="loading"  align="center" hidden>
    {% load staticfiles %}

    <img src="{% static 'student/pleasewait.gif' %}" alt="loading...">
        <h4 class="text-danger"><b>Please Wait...</b></h4>
    </div>
    <h3><p id="msg" class="text-center text-primary"></p></h3>
</div>
<div class="col-sm-4"></div>

</div>

<br>
    <br>
    {% load rest_framework %}

    <div class="card" style="width: 50%;margin-left: 26%;" id="card">
     <div class="card-header"><h3>Registration Form</h3></div>
      <div class="card-body">
         <form action="#" method="post" id="frm" >
             {% csrf_token %}
         <div class="form-group">
             <label>Name :</label>
             <input type="text" id="name" onkeyup="validname()" class="form-control" pattern="[A-Za-z]+" placeholder="Your Good Name" required>

         </div>
             <div class="form-group">
             <label>Email :</label>
             <input type="email" id="email"    onkeyup="validateemail(this)" class="form-control"  placeholder="Your Email-Id"  required>
                <b><span id="erremail" class="text-danger "></span></b>
         </div>
             <div class="form-group">
             <label>Contact :</label>
             <input type="tel" id="contact" onkeyup="validmobile()" maxlength="10" minlength="10" class="form-control" pattern= "[0-9]+" placeholder="Mobile Number" required>
            <b><span id="errmobile" class="text-danger "></span></b>
         </div>
             <br>
             <div class="form-group">
                   <input type="submit" id="save" value="Register"  class="btn btn-danger" style="float: right;width: 30%;">

             </div>

         </form>

    </div>


    </div>

{% endblock %}






